.skill {
    background-color: #6bd8df;
    margin: 20px auto;
    width: 300px;
    padding: 10px;
}

.skillPhoto {

}

.skillPhoto img {
    width: 200px;
    height: 200px;
}

.descriptionBlock {

}