.footer {
    min-height: 80px;
    background-color: #dfd19e;
    text-align: center;
    display: flex;
}

h2 {
    margin: 0 0;
}

.headers {
    padding: 10px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}